---
---
@charset "utf-8";

// Helpers
// =======

// Dark mode
@mixin dark() {
  @media only screen and (prefers-color-scheme: dark) {
    @content
  }
}

// Transitions
@mixin transit($duration: 0.2s) {
  transition: all 0.2s ease-in-out;
  @media only screen and (prefers-reduced-motion) {
    transition: none;
  }
}

// Mobile-first media queries
@mixin query($breakpoint: 480px) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Reset
// =====

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Variables
// =========

:root {

// Fonts
  --ff-sans: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", "Helvetica", 
    "Arial", "Roboto", "Ubuntu", "Segoe UI", "Fira Sans", "Droid Sans", 
    sans-serif;
  --ff-serif: "Ivy Journal", "Adobe Caslon Pro", "Goudy Old Style", 
    "Athelas", "Californian FB", "Georgia Pro", Georgia,
    serif;

// Colours
  --primary: #2C6197;
  --primaryVariant: #00294C;
  --surface: #F9F9FE;
  --onSurface: #191C1F;
  @include dark {
    --primary: #A7CDFF;
    --primaryVariant: #74A4DF;
    --surface: #37393D;
    --onSurface: #FAFAFA;
  }
}

// Base styling
// ============

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-sans);
  line-height: 1.5;
  color: var(--onSurface);
  background-color: var(--surface);
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  position: relative;
  overflow-x: hidden;

  // Layout
  margin: auto;
  margin-top: clamp(1.25rem, 10vw, 10vh);
  padding: 2.5rem;
  max-width: 48rem;
}

a {
  color: var(--primary);
    @include transit;
  &:hover {
    color: var(--primaryVariant);
  }
}

h1 {
  line-height: 1;
}

ul {
  list-style: none;
  li {
    display: inline-block;
    &:not(:last-child)::after{
      content: '・'
    }
  }

  // Typography
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  // Layout
  margin: 1.25rem 0;
}

// Decorative
// ==========

.caps {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.rounded {
  border-radius: 100%;
}

.float-right {
  @include query(680px) {
    float: right;
    margin: 0 0 1.25rem 1.25rem;
  }
}
